.pcoded {
    &[layout-type="dark"] {
        color: #fff;
        .card{
            background-color: $dark-layout-color;
        }
        .pcoded-main-container{
            background-color: lighten($dark-layout-color,10%);
        }

    }
}
